@charset "utf-8";








@media (min-width: 992px) {

 .hamburger{display:none;}

 .menu-link-container {
 	width: auto;
 	background:white;
 	text-align: center;
 	height: auto;
 	position: relative;
 	top:0;
 	left:0;
 	display: flex;
 	flex-direction: row;
 	padding: 0px;
  opacity: 1;
 }
 .menu-link a {font-size: 13px;color: #0C0C7B;opacity: 1;}
 .logo {width:125px;}
 header {height: 80px;}
 /*.logo-container img {width:180px;height:80px;}
 .hamburger{display:none;}
 .menu-link-container {display: flex !important;}


 .header li {
	 float: left;
 }
	.header li a {
	 padding: 20px 30px;
 }
 .header .menu {
	 clear: none;
	 float: right;
	 max-height: none;

 }
 .header .menu-icon {
	 display: none;
 }*/


}


/* 48em = 768px */

@media (min-width: 48em) {

}
