@charset "utf-8";





/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  h1, h2 {font-size:50px;}



   header {height: 120px;}
   .hamburger{display:none;}
   .desktop-nav.menu-link-container {width: auto;background:white;text-align: center;height: auto;position: relative;top:0;left:0;display: flex;flex-direction: row;padding: 0px;}
   /*.mobile-nav.menu-link-container {display: none;}*/

   .nissi-home {padding-top: 120px;}

   .tagline {font-size:18px;}
   .home-text{height: auto;}
}

/* Medium devices (tablets, 1200px and up) */
@media (min-width: 1200px) {

}
