@charset "utf-8";








/*@media (min-width: 992px) {




}*/





@media (min-width: 992px) {

 .logo-container img {width:180px;height:80px;}
 .hamburger{display:none;}
 .menu-link-container {display: flex !important;}


 .header li {
	 float: left;
 }
	.header li a {
	 padding: 20px 30px;
 }
 .header .menu {
	 clear: none;
	 float: right;
	 max-height: none;

 }
 .header .menu-icon {
	 display: none;
 }


}


/* 48em = 768px */

@media (min-width: 48em) {

}
