@charset "utf-8";

html {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: futura-pt, sans-serif;

}
@-o-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}



h1, h2, h3, h4 {
	font-family: miller-banner, serif;
	font-weight:700;
}
h1, h2 {
	font-size:45px;
}
h3 {
	font-size:40px;
}
h4 {
	font-size:30px;
}
.headline-blue {
	color: #0C0C7B;
}
.headline-lightblue {
	color: #8BB0DA;
}
.headline-pink {
	color: #FBB2AB;
}



.divider {
	width: 80px;
	height: 2px;
	margin: 40px auto;
}
.divider-blue {
	background-color: #020050;
}
.divider-lightblue {
	background-color: #8BB0DA;
}
.divider-pink {
	background-color: #FBB2AB;
}
.divider-nude {
	background-color: #F8EFE2;
}


header {
	position: fixed;
	width: 100%;
	height: 100px;
	background: white;
	z-index: 50;
	-webkit-transition: all 0.3s ease-out 0.2s;
	transition: all 0.3s ease-out 0.2s;
}
header.mobile-nav-open {
	background:#020050;
	-webkit-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}

.logo {
	width: 200px;
	position: relative;
}
.logo-link-dark {
	display: none;
}

.desktop-outer {
	position: relative;
	z-index: 1000;
}
.desktop-nav.menu-link-container {
	display: none;
}
.desktop-nav .menu-link a {
	font-size: 11px;
	text-transform: uppercase;
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	color: #0C0C7B;
}

.mobile-nav.menu-link-container {
	width: 100%;
	background:#020050;
	text-align: center;
	height: 100vh;
	position: fixed;
	top:0;
	left:0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 130px 0;
  -webkit-transition: all 0.3s ease-out 0.3s;
  transition: all 0.3s ease-out 0.3s;
	z-index: 1;
	visibility: visible;
	margin-top: -100vh;
}
.mobile-nav.menu-link-container .menu-link a {
	font-size: 12px;
	text-transform: uppercase;
	font-family: quasimoda, sans-serif;
  font-weight: 700;
	letter-spacing: 2px;
	color: white;
	opacity:0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.mobile-nav.menu-link-container.open {
	margin-top: 0;
	visibility: visible;
	-webkit-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}
.mobile-nav.menu-link-container.open .menu-link a{
	opacity:1;
	-webkit-transition: all 0.6s ease-in 0.6s;
	transition: all 0.6s ease-in 0.6s;
}
.menu-link a:hover, .menu-link a:active {
	color: #777777;
	text-decoration: none;
}
.overflow-hidden {
	overflow: hidden;
}





/* Hamburger Menu*/
.hamburger {
  padding: 10px 0 0 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
	position: relative;
	z-index: 100;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #020050;
}
.hamburger-box {
  width: 26px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 26px;
  height: 2px;
  background-color: #020050;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -7px;
}
.hamburger-inner::after {
  bottom: -7px;
}
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}





section {
	position:relative;
	z-index: 10;
}
.nissi-home {
	background-color: #F8EFE2;
	padding-top: 100px;
	min-height: 640px;
	position:relative;
	z-index:11;
}
.main-image {
	width:355px;
}
.mobile-main-image {
	margin-bottom:-40px;
}
.home-text{
	height: 100%;
}





.home {
	position:relative;
	z-index: 8;
	min-height: 640px;
}

.tagline {
	color: #020050;
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0.5px;
}
.btn {
	width:225px;
	height:45px;
	border-radius: 50px;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 2px;
	font-weight: 600;
	margin: 40px 0 0;

}
.tel {
	width: 210px;
	background-color: #FBB2AB;
	color: #0C0C7B;
}
.main {
	padding:90px 0 0px;
}
.main-image-container {
  background-color: #020050;
	min-height:115px;
	/*position: absolute;
	bottom:0;*/
}







.about-outer {
	background-color: #020050;
}
.about-text {
	color: #ffffff;
	font-size: 18px;
	line-height: 45px;
	letter-spacing: 0.5px;
	width: 100%;
	max-width: 620px;
	margin: auto
}

.mv-outer {
	background-color: #F8EFE2;
}
.vision, .mission {
	width:100%;
	border-left:0;
}
.vision p, .mission p {
	color: #020050;
	font-size: 18px;
	font-weight: 400;
	line-height: 45px;
	letter-spacing: 0.5px;
}

.np-outer {
	background-color: #ffffff;
}
.np-info-inner {
	width:100%;
	max-width: 860px;
}
.np-name {
	color: #020050;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.5px;
}
.np-membership-title {
	color: #8BB0DA;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.5px;
}
.np-bio, .np-membership {
	color: #746F6F;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 45px;
}
.np-bio {
	font-size: 18px;
}
.np-membership {
	font-size: 16px;
}
.np-photo img {
	width: 268px;
	box-shadow: 4px 4px 8px rgba(0,0,0, 0.15);
	border-radius: 134px;
	background: transparent;
}


.nissi-services {
	background: white;
}
.services-outer	{
	background-color: #F8EFE2;
	left:0;
	top:0;
	width: 100%;
	height: 90%;
	position: absolute;
}
.services-inner{
	position: relative;
	position: 25;
}
.service-frame {
	width:100%;
	max-width: 860px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 4px 4px 8px rgba(0,0,0, 0.15);
	margin: auto;
}
.service-img {
	border-radius: 10px;
	height: 155px;
	width:100%;
}
.service-title {
	min-height: 116px;
}
.service-title h4 {
	font-size: 25px;
}


ul.insurance-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.insurance-list li{

}

footer {
	background-color: #020050;
	color:white;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 40px;
	font-weight:400;
}
footer .divider {
	margin: 5px auto 20px;
}
footer a {
	color:white;
	text-decoration: none;
}
.footer-title {
	font-weight:600;
	font-size: 16px;
}
.copyright {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 1px;
	font-family: quasimoda, sans-serif;
}
